a {
   text-decoration:none;
}

body {
   font-family: "Latin Modern Sans", "Liberation Sans", sans-serif;
   padding:0;
   margin:0
}

p {
   text-align:justify;
   text-indent:2ex;
   line-height:1.5em
}

#content {
   max-width:90ex;
   margin:auto
}

h1 {
/*    color:#C72; */
   color:black;
   text-align:center;
   text-shadow: 1px 1px 2px gray;
   font-size:3rem;
   margin-top:0;
   background:-webkit-linear-gradient(#DDF1F3, #FFF);
   background:linear-gradient(#DDF1F3, #FFF);
   width:100%;
}

h1 .dash {
   display:none;
}

h1 span {
/*    font-style:italic; */
   display:block;
   text-shadow: 0 0 2px silver;
   font-size:0.8rem;
   color:gray;
}

h2 {
   text-shadow: 1px 1px 1px silver
}

h1 strong {
   color:black
}

.illustr {
   text-align:center
}

.illustr img {
   max-width:90%
}

ul {
   list-style:none;
}
li:before {
   content: "­—";
   padding-right:0.5ex
}

li {
   padding: 0.25ex 0
}

strong {
   color:#444
}

#feature-list strong {
   color:inherit;
   font-weight:normal
}

#credits, #credits p {
   font-size:small;
   color:gray;
   text-align:center
}

#credits img {
   margin:0 1em;
   max-height:70px;
   max-width:150px;
   vertical-align:middle
}

#wip {
   font-size:small;
   padding:0;
   margin:0;
   text-align:center;
   font-style:italic
}


#menu {
   background:#555;
   background:-webkit-linear-gradient(#888,#555);
   background:linear-gradient(#888,#555);
   font-size:0;
   padding:0;
   margin:0;
   box-shadow:0 2px 2px gray;
   text-align:center
}

#menu li {
   display:inline-block;
   padding:0;
   z-index:10;
   position:relative;
}

#menu li:hover {
   background:#5AF;
   background:-webkit-linear-gradient(#AEF, #5AF);
   background:linear-gradient(#AEF, #5AF);
   z-index:5;
   box-shadow:0 1px 1px #5BE
}

#menu li:before {
   content:''
}


#menu a:link {
   font-size:1rem;
   color:white;
   margin:0;
   font-weight:bold;
   display:inline-block;
   height:1.4em;
   padding:0 0.7ex;
   line-height:1.4em;
}

#menu a:visited {
   color:#DDD
}

#menu a:hover {
   color:white
}

.whata-illustr {
   text-align:center;
}

.whata-illustr img {
   max-width:90%;
   box-shadow:2px 2px 4px gray
}
